@import url(./googleSansPro.css);

/* Global */
body {
	margin: 0px auto;
	padding: 0;
	background: #222;
	font-family: "Source Sans Pro","sans-serif";
	font-size: 1.0em;
	color: #666;
}
* {
	margin: 0;
	padding: 0;
}


/* Element defaults */
table {
	width: 100%;
	text-align: left;
}
th, td {
	padding: 5px 10px;
	font-size: 0.9em;
	width: 50%;
}
th {
	color: #FFF;
	border-top: 1px solid #222;
	background-color: #2F2F2F;
}
td {
	border-bottom: 1px solid #f4f4f4;
}
code, blockquote {
	display: block;
	border-left: 5px solid #DDD;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 0.8em;
}
blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	height: 1%;
}
p {
	line-height: 1.2em;
	margin-bottom: 20px;
}
a {
	color: #417BBE;
	text-decoration: none;
}
a:hover {
	color: #000;
}
a:focus {
	outline: none;
}


/* Form things */
fieldset {
	display: block;
	border: none;
	border-top: 1px solid #E0E0E0;
}
fieldset legend {
	font-weight: bold;
	padding-right: 10px;
	color: #999;
}
fieldset form {
	padding-top: 15px;
}
fieldset p label {
	float: left;
	width: 150px;
	font-family: "Source Sans Pro","sans-serif";
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding: 5px;
	color: #333333;
	font-size: 13px;
	font-family: "Source Sans Pro","sans-serif";
	border: 1px solid #DDD;
}
fieldset form input.formbutton {
border:none;
    background-color: #5489C4;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}


/* Headings */
h1 {
	font-size: 2.4em;
}
h2 {
	color: #2F2F2F;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
}
h3 {
	color: #5489C4;
	font-size: 1.6em;
	padding-bottom: 10px;
}
h4 {
	padding-bottom: 10px;
	font-size: 1.4em;
	color: #000;
}
h5 {
	padding-bottom: 10px;
	font-size: 1.2em;
	color: #666666;
}
ul, ol {
	margin: 0 0 35px 35px;
}
li {
	padding-bottom: 5px;
}


/* Div wrapper */
div#wrapper {
	margin: 0px auto;
	padding: 0;
}
.width {
	width: auto;
	margin: 0 auto;
}


/* Header */
header {
	padding: 30px 17px 30px;
	margin: 0 auto;
}
header h1 {
	text-align: right;
}
header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #FFF;
	font-size: 1.1em;
	text-decoration: none;
	letter-spacing: -2px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 0;
}
header h2 {
	color: #B3CAE5;
	text-align: right;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom: 0;
	letter-spacing: 0;
}


/* Body */
section#body {
	padding: 0;
	background: #000000;
}


/* Content and Sidebar */
section#content {
	margin-left: 250px;
	padding: 20px;
	background-color: #FFF;
}
.column-left {
	float: left;
}
.column-right {
	float: right;
}
aside#sidebar {
	width: 250px;
	position: fixed;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav#mainnav li {
	padding: 0;
	border-bottom: 1px solid #7AA3D1;
	border-top: 1px solid #417BBE;
}
nav#mainnav li.selected-item  {
	border-bottom: none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color: #5489C4;
	font-weight: bold;
	background: #FFF;
}
nav#mainnav li a:hover {
	background: #3B6FAB;
	color: #FFF;
	text-decoration: none;
}
nav#mainnav li a {
	color: #F0F0F0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-weight:  bold;
	text-decoration: none;
}


/* Article */
article {
  padding: 10px 10px 30px;
	font-size: 1.2em;
	border-bottom: 1px solid #EEE;
 }
article h2 {
  padding-bottom: 0;
	line-height: 1.1em;
	letter-spacing: -2px;
  font-size: 2.5em;
}
article .article-info {
  color: #C0C0C0;
	font-size: 0.92em;
	padding: 0px 0px 10px;
}
article .article-info a {
	color: #CCC;
}

/* Memo content customizations */
#preamble {
	font-size: 0.85em;
	color: #000;
}
#vocab {
	font-weight: bold;
	color: #800080;
}

/* Collapsable memo search */
input[type=checkbox] {
  display: none;
  visibility: hidden;
}
input[type=text] {
	padding: 6px;
	border-bottom: 1px solid #CCC;
 	border-radius: 10px;
	margin-top: 8px;
	margin-right: 8px;
	font-size: 1.0em;
	width: 50%;
}
label {
  display: block;
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #CCC;
	border-radius: 10px;
  color: #FFFFFF;
	background-color: #3B6FAB;
}
label:hover {
  color: #666;
	background-color: #5489C4;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: url(../img/plus.png);
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  /* background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%); */
}
#searchExpand {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
#categoryExpand {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
section#searchMemos {
  padding: 0 20px;
}
section#allMemos {
  padding: 0 20px;
}
#searchToggle:checked ~ #searchExpand {
  height: 60px;
}
#categoryToggle:checked ~ #categoryExpand {
  height: 2400px;
}
#searchToggle:checked ~ label::before {
  content: url(../img/minus.png);
}
#categoryToggle:checked ~ label::before {
  content: url(../img/minus.png);
}
button {
    background-color: transparent;
		border: none;
    border-radius: 4px;
    color: #666;
    display: inline-block;
    padding: 2px 2px;
    font-size: 0.9em;
    text-decoration: none;
		text-align: left;
		width: 100%
}
button:hover {
	background-color: #5489C4;
	color: #FFFFFF;
}
button.small {
	width: 8%;
	vertical-align: bottom;
 	border-radius: 10px;
}
button.small:hover {
	background-color: #B3CAE5;
}


/* Footer */
footer {
	padding: 20px 0px;
}
footer p {
	color: #666;
	margin: 0;
	font-size: 0.8em;
	text-align: center;
}
footer p a {
	color: #666;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/* Clear */
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}


@media screen and (max-width: 740px) {
	body { font-size: 0.9em; }
	.width { width:auto; padding-left: 10px; padding-right: 10px; }
	.column-left, .column-right { margin:0px; }
	header h1, header h2, nav#mainnav li a { text-align:center; }
	section#content, aside#sidebar { position: relative; float: none; width: auto; margin-left: 0; }
	th, td { width: 100%; }
}


@media screen and (max-width: 540px) {
	body { font-size: 0.8em; }
	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }
	nav#mainnav ul li a { margin-top: 0; padding: 1em; }
	th, td { width: 100%; }
}

@media screen and (min-width: 1200px) {
	th, td { width: 33%; }
}
